.vscode
*.o
*.d
*.a
.depend
*.depend

build/output
build*
*.o

*.log


.*.swp




.vscode
*.o
*.d
*.a
.depend
*.depend

build/output
build*
*.o

*.log


.*.swp
.*.swp
*.ver
*.pod
*.texi
*.pc
*.fate
*.mak
*.user
*.3
EmbededOsCodecSdkDemo/build